<p id="notice"><%= notice %></p>

<h1>Payment Details</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_details.each do |payment_detail| %>
      <tr>
        <td><%= payment_detail.description %></td>
        <td><%= payment_detail.amount %></td>
        <td><%= payment_detail.payment %></td>
        <td><%= link_to 'Show', payment_detail %></td>
        <td><%= link_to 'Edit', edit_payment_detail_path(payment_detail) %></td>
        <td><%= link_to 'Destroy', payment_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Detail', new_payment_detail_path %>
