<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tax.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tax.category %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
